[Desktop Entry]
Name=Pinot
Comment=Search your documents
Exec=pinot-dbus-daemon
Icon=pinot
Terminal=false
Type=Application
Categories=
Encoding=UTF-8
