[Desktop Entry]
Name=Pinot
Comment=Search the Web and your documents
Exec=pinot-dbus-daemon
Icon=pinot.png
Terminal=false
Type=Application
Categories=
Encoding=UTF-8
