[Desktop Entry]
Name=Pinot Metasearch Tool
Name[es]=Metabuscador Pinot
Name[fr]=Pinot Outil De Recherche
Name[nl]=Pinot Metazoek Tool
Name[pt]=Mecanismo de metabusca Pinot
Name[pt_BR]=Mecanismo de metabusca Pinot
Name[ru]=Инструмент метапоиска Pinot
Name[sv]=Pinot Metasökningsverktyg
Comment=Search the Web and your documents
Comment[es]=Busca en el web y en sus documentos
Comment[de]=Durchsuchen Sie das Internet und Ihre Dokumente
Comment[fr]=Cherche le Web et vos documents
Comment[pt]=Pesquise a Web e os seus documentos
Comment[pt_BR]=Pesquise a Web e os seus documentos
Comment[sv]=Sök på webben och i dina dokument
Exec=pinot
StartupNotify=true
Icon=pinot.png
Terminal=false
Type=Application
Categories=GTK;Core;Network;Filesystem;
Encoding=UTF-8
